/* Write 컴포넌트 스타일 */
.write {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.write_h1 h1 {
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
}

/* 제목, 작성자, 여행지, 내용 입력 등 공통 스타일 */
.write div {
    margin-bottom: 10px;
}

.photo_style{
    max-width: 33%;
    margin: 0;
    padding: 0;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    text-align: center;
    margin-left: 0;

};

/* 이미지 업로드 */
.input-file-label {
    cursor: pointer;
}

.input-file-label input {
    display: none;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.image-grid img {
    height: 10vh;
    width: 10vw;
}

/* 버튼들 */
.write-buttons {
    display: flex;
    justify-content: space-between;
}

.write-buttons button {
    width: 48%;
}

/* Map.css */

.map-container {
    display: flex;
    width: 100vw;
    min-height: 10vh;
    flex-direction: row;
}

.map-sidebar {
    flex: 1;
    min-height: calc(100vh - 60px); /* Adjust based on TopIcon height */
    border-right: 1px solid #ddd;
    display: flex;
    flex-direction: column;
}

.map-search-container {
    flex: 1;
    padding: 10px;
    background-color: #fff;
    z-index: 1000;
}

.map-search-input {
    width: 100%;
    height: 40px;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.place-info-container {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

.place-info-button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.map-list-container {
    flex: 1;
    max-height: 50vh;
    margin-top: 20px;
}

.map-list-title {
    display: flex;
    flex-direction: row;
}

.map-list-item {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.map-list-item-button {
    padding: 5px 10px;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.map-content {
    flex: 1;
    padding: 20px;
    background-color: #f9f9f9;
}

