/* PersonalInfo.css */

/* 전체 페이지를 가운데로 배치하는 스타일 */
.page_wrapper {
  display: flex;
  justify-content: center;  /* 수평 중앙 정렬 */
  align-items: center;      /* 수직 중앙 정렬 */
  height: 100vh;            /* 화면 높이를 100%로 설정 */
  margin: 0;/* 기본 여백 제거 */
}

/* Flexbox를 사용하여 이미지와 텍스트 나란히 배치 */
.wrapper {
  display: flex;
  align-items: center;      /* 세로 중앙 정렬 */
  padding: 20px;
  gap: 20px;
  border : solid rgb(196, 187, 187) 2px;
}

/* 이미지와 텍스트 사이에 여백 추가 */
.personal_container {
  margin-left: 20px;
  color: black;
  font-size: 16px;
}

.profile_wrapper {
  display: flex;
  flex-direction: column;  /* 수직 정렬 */
  align-items: center;     /* 수평 중앙 정렬 */
  justify-content: center; /* 수직 중앙 정렬 */
  gap: 10px;               /* 요소들 사이의 간격 */
}

/* 프로필 이미지를 원형으로 만들기 */
.profile_image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

/* 팝업의 배경색; 여백; 그림자 등 */
.popup_wrapper {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.popup_wrapper h2 {
  margin-bottom: 20px;
};

/* Modal 고정 위치 및 중앙 정렬 */
.custom_modal {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  top: 20%;
}

/* Modal 버튼 */
.custom_modal_icon {
  width: 400px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  position: relative;
  margin: 0 auto; /* 수평 중앙 정렬 */
  top: 50%; /* 화면 세로 중앙 정렬 */
  transform: translateY(-50%); /* 정확한 세로 중앙 위치 */
}

/* Modal 스타일 */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); /* 어두운 배경 */
  overflow: hidden; /* 페이지의 스크롤 방지 */
  display: flex;
  justify-content: center;
  align-items: center; /* 화면 중앙에 오버레이 및 모달 표시 */
}

/* TopIcon */
.profile_button{
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px; 
};

.info-button{
  margin: "5px";
  padding: "10px";
  background-color: "#007bff";
  color: "white";
  border: "none";
  border-radius: "5px";
};

.home-header {
  display: flex;
  justify-content: space-between; /* 왼쪽-오른쪽으로 배치 */
  align-items: center; /* 수직 중앙 정렬 */
  padding: 10px;
  background-color: #f9f9f9;
}

.icon-container {
  display: flex;
  gap: 15px; /* 아이콘 간 간격 */
  margin-left: auto; /* 오른쪽으로 이동 */
  align-items: center;
}
