.post {
    width: 800px;
    height: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0 0 0 0.1);
};

.post_list{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
};

